@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.anncontainer {
    max-width: 1400px;
    margin: 0 auto;
}

.announcement-topsection {
    padding: 50px 0;
    background: #f5f5f9;
    position: relative;
    overflow: hidden;

    h1 {
        color: #333;
        font-size: 60px;
        margin-bottom: 20px;
        line-height: 140%;
    }

    .imgwrap {
        img {
            max-width: 100%;
            filter: brightness(0.5);
        }
    }

}

.anninpfield {
    position: relative;

    input {
        min-height: 50px;
        width: 100%;
        border: 1px solid #89898a;
        border-radius: 10px;
        padding-left: 20px;
        font-size: 16px;
        outline: none;
        padding-right: 50px;
        transition: 0.3s;

        &:focus {
            border-color: #556ee6;
        }
    }

    .searchbtn {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        transition: 0.3s;

        img {
            vertical-align: top;
            width: 30px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.announcement-breadcrumbs {
    padding: 20px 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url('../img/next.png') no-repeat center / 100%;
                position: absolute;
                right: -16px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            a {
                text-decoration: none;
                color: #333;
                transition: 0.3s;

                &:hover {
                    color: #0074bd;
                }
            }
        }
    }
}

.announcements-tabswrap {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: #dadadd;
        border: 2px solid #dadadd;
        border-radius: 30px;
        display: inline-block;

        li {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .nav-tabs .nav-link {
        margin-bottom: 0;
        border: transparent;
        border-radius: 40px;

        text-decoration: none;
        font-size: 14px;
        color: #525251;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        min-height: 50px;
        padding: 5px 15px;
        min-width: 120px;
        font-weight: 600;
        border: none !important;
        margin: 0 !important;
    }

    ul li a.active,
    ul li button.active {
        color: #1b1a18;
        background: #fff;
        border-radius: 30px;
    }

    .tab-content {
        margin-top: 30px;
    }

}

.anntabrow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-decoration: none;

    .date {
        width: 100%;
        max-width: 120px;
        flex: 0 0 120px;
        font-size: 18px;
        color: #333;
        margin: 0;
        border-right: 1px solid #3333337a;

        span {
            display: block;
        }
    }

    .descr {
        width: 100%;
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
        padding-left: 40px;

        p {
            color: #566a7f;
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            font-size: 21px;
            color: #333;
            font-weight: 600;
            margin-bottom: 10px;
            transition: 0.3s;
        }
    }

    &:hover {
        .descr {
            .title {
                color: #0074bd;
            }
        }
    }
}

.announcements-subscribe {
    padding: 70px 0;
    background: #f5f5f9;
    margin-top: 100px;

    .title {
        text-align: center;
        font-size: 26px;
        color: #333;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.announcements-subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .annemail {
        width: 100%;
        max-width: calc(100% - 160px);
        flex: 0 0 calc(100% - 160px);
        border-radius: 8px;
        border: 1px solid #bdbdc2;
        outline: none;
        padding-left: 20px;
        transition: 0.3s;

        &:focus {
            border-color: #556ee6;
        }
    }

    .annsubm {
        width: 100%;
        max-width: 140px;
        flex: 0 0 140px;
        background: #556ee6;
        color: #fff;
        border: none;
        border-radius: 8px;
        height: 46px;
        transition: 0.3s;

        &:hover {
            background: #485ec4;
        }
    }




}

@media(max-width:1600.8px) {

    .announcement-topsection h1 {
        font-size: 50px;
    }

}

@media(max-width:1440.8px) {

    .announcement-topsection h1 {
        font-size: 42px;
    }

    .announcement-topsection .imgwrap img {
        max-width: 200px;
    }
}

@media(max-width:991.8px) {
    .announcement-topsection .imgwrap {
        display: none;
    }
}

@media(max-width:575.8px) {
    .announcement-topsection h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .anninpfield input {
        min-height: 42px;
        padding-left: 10px;
    }

    .anninpfield .searchbtn {
        width: 36px;
        height: 36px;
        top: 3px;

        img {
            width: 24px;
        }
    }

    .announcement-topsection {
        padding: 50px 0 30px;
    }

    .announcements-tabswrap .nav-tabs .nav-link  {
        width: 100%;
        padding: 5px 10px;
    }

    .announcements-tabswrap .nav-tabs .nav-link {
        min-width: initial;
        width: 100%;
    }
    
    .announcements-tabswrap ul {
        width: 100%;
        display: flex;

        li {
           width: 100%;
           max-width: 33.333%;
           flex: 0 0 33.333%;
        }
    }

    .anntabrow .date {
        max-width: 70px;
        flex: 0 0 70px;
        font-size: 14px;
    }

    .anntabrow .descr {
        max-width: calc(100% - 70px);
        flex: 0 0 calc(100% - 70px);
        padding-left: 10px;
    }

    .anntabrow .descr p {
        font-size: 14px;
    }

    .anntabrow .descr .title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .anntabrow {
        margin-bottom: 20px;
    }

    .announcements-subscribe .title {
        font-size: 21px;
    }

    .announcements-subscribe__form .annemail,
    .announcements-subscribe__form .annsubm {
        max-width: 100%;
        flex: 0 0 100%;
        height: 42px;
    }

    .announcements-subscribe__form .annemail {
        margin-bottom: 10px;
    }

    .announcements-subscribe__form .annsubm {
        font-size: 15px;
    }

    .announcements-subscribe {
        padding: 50px 0;
    }

    .announcements-subscribe {
        margin-top: 40px;
    }
}